body {
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-family: "Kaisei HarunoUmi", serif;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

h2 {
  font-family: "Kaisei HarunoUmi", serif;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
h3 {
  font-family: "Kaisei HarunoUmi", serif;
  text-align: center;
  padding-bottom: 40px;
}
#img_grp {
  margin-bottom: 30px;
}
.col-sm-4 {
  margin-bottom: 40px;
}
